/*=============
  Defaulst Css
  =============*/
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /*font-family: 'Inter', sans-serif;*/
font-family: 'Poppins', sans-serif;
background-color: #FFFFFF;
}
.fa-star{
    color: #FB8200;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    /* left: 14px; */
}
  .btn{
    display: inline-block;
    /* flex-direction: row; */
    /* align-items: flex-start; */
    background: #E02C6D;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 41px;
    font-size: 16px;
    line-height: 24px;
}
.sec-container{
  width: 1120px;
  margin: 0 auto;
  /* display: grid; */
  /* justify-content: center; */
  /* align-items: center; */
  /* grid-template-columns: repeat(2,1fr); */
}
  /*============
   Header section
   ==============  */
   .header-sec{
    margin-top: 87px;
}
   .header-sec h3{

font-size: 24px;

line-height: 36px;

font-weight: 700;

}

    /*============
   Banner section
   ==============  */
   .banner-sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 100px 20px;
}
.banner-content,.banner-image{
    transform: translateY(22px);
    transition: .5s ease-out;
}
.banner-image:hover{
    transform: translateX(0);
    transition: .5s ease-in-out;
}
.banner-content:hover{
    transform: translateX(0);
    transition: .5s ease-in-out;
}
   .banner-sec .banner-content {
    /* width: 600px; */
}
   .banner-sec .banner-content h2{
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
}
   .banner-sec .banner-content p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 16px 0px;
}
   .banner-image{
     background-image: url('../images/Circle\ design.svg');
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     margin-left: 100px;
    }
   .banner-image img{

width: 440px;

/* margin-top: 80px; */

margin-left: 133p;
}

     /*============
   Product section
   ==============  */
   .product-sec-title h2{
    /* padding-top: 0px; */
    text-align: center;
    font-size: 28px;
    padding-bottom: 30px;
    line-height: 70px;
    font-weight: 600;
}
   .products{
    gap: 20px;
    margin: 0 auto;
    width: 1047px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
   .products .product-grid{
    box-shadow: 10px 10px 10px #f5f5f5;
    border-radius: 10px;
    padding: 17px 15px 20px;
}
   .products .product-grid img{
    width: 300px;
    /* height: 476px; */
}

.see-more-btn{
    float: right;
    margin-top: 25px;
    color: #E02C6D;
    font-size: 16px;
    margin-right: 30px;
    text-decoration: none;
    line-height: 24px;
}
   .products .product-grid h3{

font-weight: 500;

font-size: 28px;

line-height: 40px;

padding: 16px 0 6px;
}
   .products .product-grid .price{
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}
   .products .product-grid .rating{
    display: flex;
    padding: 10px 0px;
}
   .products .product-grid .rating i{}
   .products .product-grid .rating p{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.1px;
}
   .products .product-grid p{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
}


       /*============
   Featured section
   ==============  */

   #featured-sec{}
   .featured-info{
    margin-top: 130px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}
   .featured-info img{
    width: 404px;
}
   .featured-info .featured-content{
    margin-left: 96px;
}
   .featured-info .featured-content h2{
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
}
   .featured-info .featured-content p{
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    padding: 20px 0px;
}
   .featured-info .featured-content a{
    border-radius: unset;
}

       /*============
   Footer section
   ==============  */

   #footer{
    padding: 50px 0;
    background: #0A0826;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    margin-top: 100px;
}
   .footer-sec-container{}
   .footer-sec-container h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}
   .footer-sec-container p{
    font-weight: 500;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    line-height: 24px;
}
   .footer-sec-container .footer-icon{
    margin-top: 10px;
    height: #fff;
}
   .footer-sec-container .footer-icon i{
    color: #fff;
    font-size: 20px;
    background: #323054;
    margin-right: 20px;
    padding: 10px;
    border-radius: 50px;
}

 /*============
   Media Query section
   ==============  */
   @media only screen and (max-width:992px){
       .sec-container {

    width: 100%;}
    .banner-sec{
        margin: 0px 30px;
        padding: 50px 20px 80px;
    }
    .banner-sec .banner-content h2{
        font-size: 33px;
    line-height: 50px;
    }
    .header-sec h3 {
    margin-left: 50px;
}
.header-sec {
    margin-top: 60px;
}
.products{
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}
#footer{
    width: 100%;
}
.featured-info{
    grid-template-columns: 1fr 1.5fr;
    padding-left: 35px;
    margin: 100px 2%;
}
.featured-info img {
    width: 100%;
}


   }



   
   @media only screen and (max-width:688px) {

body{
    width: 100%;
}

    .sec-container{width: 100%;}
    .banner-image{
        order: 1;
        text-align: center;
        margin: 0;
        width: 100%;
    }
    .banner-sec{
        padding: 50px 20px 80px;
    }
    .banner-content{
        order: 2;
        padding:40px 0px 0px;
        text-align: center;
    }
    .banner-sec{
        grid-template-columns: 1fr;
    }
    .banner-image img{
        width: 350px;
    }
    .header-sec{
        width: 100%;
    }
    .header-sec h3 {

    text-align: center;
}
.products {
    grid-template-columns: 1fr;
    width: 100%;

}
.sec-container .see-more-btn {
    float: none;
    padding: 30px;
    display: block;
    text-align: right;
}

.featured-info {
    grid-template-columns: 1fr;
    padding: 50px;
        margin:0px;
}
.featured-info img{
    order:2;
    text-align: center;
    display: flex;
    justify-content: center;
}

.featured-content{
    order:1;
    text-align: center;
    padding-bottom: 40px;
}
#footer{
    width: 100%;
    margin-top: 0px;
}
.featured-info .featured-content {
   margin:0px;
}

   }
   